.logo-lg {
  width: 500px;
}
mat-form-field{
  font-size: 15px;
}
mat-form-field{
  margin-top: 15px;
}
.action-button{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: right;
  button{
    margin-left: 5px;
  }
}
